In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [ ]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [ ]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [ ]:
display(genuine.head(10))

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017
6  Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8         Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9  Alabama official to certify Senator-elect Jone...  ...  December 28, 2017

[10 rows x 4 columns]

In [ ]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [ ]:
fake['target'] = 0
genuine['target'] = 1

In [ ]:
display(genuine.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [ ]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [ ]:
data = pd.concat([fake,genuine],axis=0)

In [ ]:
date = data.reset_index(drop=True)

In [ ]:
data = data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data["text"]=data["text"].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer(language='english')

In [ ]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [ ]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('english'))

In [ ]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

7792     orlando reuter ask john mica whi stick donald ...
17409    whatev happen innoc until proven guilti the go...
10151    thank you presid trump for those word comfort ...
255      reuter the u.s. district court for the distric...
13735    cairo reuter islam state claim respons for sui...
Name: text, dtype: object

7792     1
17409    0
10151    0
255      1
13735    1
Name: target, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

  (0, 62167)	0.021077906213194584
  (0, 1346)	0.02671795395034326
  (0, 76548)	0.01582551764797723
  (0, 19195)	0.011287734214540058
  (0, 81519)	0.014391257173611036
  (0, 59321)	0.008737049283992243
  (0, 71228)	0.030711873124686512
  (0, 36380)	0.01565474114845341
  (0, 88249)	0.028877401468358682
  (0, 37071)	0.006937757915327867
  (0, 73575)	0.03750904371371605
  (0, 68343)	0.02243259863607107
  (0, 52486)	0.01697181541463318
  (0, 38840)	0.023504795931182175
  (0, 42207)	0.02972865024926001
  (0, 79913)	0.010818475691189737
  (0, 53901)	0.014321301968609918
  (0, 77696)	0.015212811094873374
  (0, 88256)	0.009195583026878087
  (0, 20649)	0.012120148182009639
  (0, 18971)	0.014051721806173121
  (0, 73413)	0.012809227070509759
  (0, 81397)	0.010823802626706689
  (0, 14159)	0.027957178778603407
  (0, 13740)	0.011118347732465925
  :	:
  (33672, 29779)	0.03393099984672145
  (33672, 57247)	0.03717945574094895
  (33672, 60176)	0.02490279363804929
  (33672, 74381)	0.021082614844307696
  (33672, 50161)	0.024981600646265926
  (33672, 35091)	0.02530736260318702
  (33672, 41199)	0.03768462182584814
  (33672, 72442)	0.016128439662752073
  (33672, 9101)	0.033388186350804136
  (33672, 88682)	0.07884534564002825
  (33672, 39781)	0.019811528603452647
  (33672, 88677)	0.02621525265921494
  (33672, 55615)	0.01574504904613187
  (33672, 76509)	0.01865447267451674
  (33672, 62339)	0.022423576667443858
  (33672, 88812)	0.02663140975108388
  (33672, 14226)	0.04662672301012647
  (33672, 90611)	0.03260494113624391
  (33672, 37781)	0.024780440394329063
  (33672, 13539)	0.02631229940583084
  (33672, 79038)	0.01969227421965822
  (33672, 81437)	0.012821373409173996
  (33672, 33344)	0.024956701765014546
  (33672, 11257)	0.02229490760189248
  (33672, 69617)	0.015411562843551368

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.74387527839643

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.61692650334075